@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --base-hsl: 260;

    --background: 0 0% 100%;
    --foreground: var(--base-hsl) 10% 3.9%;

    --card: var(--base-hsl) 45% 90%;
    --card-foreground: var(--base-hsl) 10% 3.9%;

    --popover: var(--base-hsl) 0% 100%;
    --popover-foreground: var(--base-hsl) 10% 3.9%;

    --primary: var(--base-hsl) 100% 75%;
    --primary-foreground: var(--base-hsl) 0% 98%;

    --secondary: var(--base-hsl) 45% 90%;
    --secondary-foreground: var(--base-hsl) 80% 65%;

    --muted: var(--base-hsl) 4.8% 95.9%;
    --muted-foreground: var(--base-hsl) 3.8% 46.1%;

    --accent: var(--base-hsl) 4.8% 95.9%;
    --accent-foreground: var(--base-hsl) 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: var(--base-hsl) 5.9% 90%;
    --input: var(--base-hsl) 5.9% 90%;
    --ring: var(--base-hsl) 10% 3.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.text-subtitle {
  @apply opacity-70
}